*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Macondo", sans-serif;
    font-optical-sizing: auto;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    font-style: normal;
}

.game-container {
   width: 80vw;
   margin: 4rem auto;
   display: flex;
   flex-direction: row;
   gap: 2rem;
   /* background-color: bisque; */
   padding: 3rem 0
}
.score-container {
    width: 8rem
}

.score-container p {
    margin-left: 2rem;
}